{% extends "base.html" %}
{% block index %}
<div class="container">
      <div class="starter-template">
        <div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-0" style="margin-top:2vh;">
                        
                <label style="font-weight:300; font-size:36px;">
			Reddit N-gram Viewer
		</label>
                <br /><br />
                                        
		<p> 

		A reddit N-gram viewer.

		This project was done as part of Insight Data Engineering program. 
		</p>

<iframe src="//www.slideshare.net/slideshow/embed_code/key/r9sXQURwOmd3yx" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/secret/r9sXQURwOmd3yx" title="Jerry prawiharjo week4_demo-friday" target="_blank">Jerry prawiharjo week4_demo-friday</a> </strong> from <strong><a href="//www.slideshare.net/JerryPrawiharjo" target="_blank">Jerry Prawiharjo</a></strong> </div>
                </div>
        </div>
      </div>
</div>

 


{% endblock %}
